.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    p,
    a {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        font-size: 1em;
        color: white;
        text-decoration: none;
        opacity: 0.5;
        transition: .2s;

        img {
            width: 2em;
            height: 2em;
            cursor: pointer;
        }
    }

    p:hover,
    a:hover {
        opacity: 1;
    }

}