.footer {
    // background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    img {
        width: 2em;
        height: 2em;
        opacity: 0.5;
        transition: .2s;
        cursor: pointer;
    }

    img:hover {
        opacity: 1;
    }
}