.right-pannel {
    padding: 10vh 6vh 10vh 0;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.right-pannel::-webkit-scrollbar {
    width: 0;
}