html,
body {
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  z-index: 1;
  scroll-behavior: smooth;
  overflow: hidden;
  color: white;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: 'CodeNext-Black';
  src: url('./assets/fonts/CodeNext-Trial-Black.ttf');
}

@font-face {
  font-family: 'CodeNext-Bold';
  src: url('./assets/fonts/CodeNext-Trial-Bold.ttf');
}


.font-code-next-black {
  font-family: "CodeNext-Black";
}

.font-code-next-bold {
  font-family: "CodeNext-Bold";
}
